<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/SpriteVar.css" rel="stylesheet" />
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>
    <hr />
    Ajax result:
    <i id="ajaxbox">[please, press any ajax button]</i>
    <br />
    <br />
    All icons by <a href="http://dryicons.com">http://dryicons.com</a>

    <script src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
