.t4button {
    display: inline-block;
    text-decoration: none;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: #ddd 0 0 6px;
}

.t4icon {
    display: block;
    margin: 0 auto;
    text-indent: -99999px;
    overflow: hidden;
}

.t4button-text {
    display: block;
}

#ajaxbox {
    border: 1px solid #00f;
    padding: 6px;
}
